.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
/*  =================== HEAD  =================== */

/* ==============LOGO=================== */
.logo-page-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  word-spacing: none;
}
.logo-page-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  word-spacing: none;
}
/* =======================MENU=========================== */
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
/* =====================ADDRES============================= */
.contacts-list {
  font-style: normal;
}

.contact-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: #434455;
}
.contact-mail:hover,
.contact-mail:focus {
  color: #404bbf;
}
.contact-num-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: #434455;
}
/* ======================HERO========================== */
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}
.hero {
  background: #2e2f42;
}
/* ==================ADVANTAGES================ */
.page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: #2e2f42;
}
.page-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: #434455;
}
/* ========================== WHAT ARE WE DOING================= */
.caption-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
/* ======================PAGE PORTFOLIO=========================== */

.btn-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  list-style: none;
}
.btn-all-item {
  color: #ffffff;
}
.work-items-team {
  background: #f4f4fd;
}
.footer {
  background: #2e2f42;
}
.last {
  color: #e7e9fc;
}
